<div class="space-y-4 bg-gray-100">
  <div
    class=" w-full flex justify-center p-2 relative bg-gradient-to-r from-pink-500 to-violet-500 h-50 hover:bg-gradient-to-l ">
    <form
      class="mt-auto mx-auto max-w-xl py-2 px-6 rounded-full bg-white w-full border flex focus-within:border-gray-300">
      <input type="text" placeholder="Search anything"
             class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
             name="topic">
      <button
        class="flex flex-row items-center justify-center min-w-[130px] px-4 rounded-full focus:ring-4 bg-gradient-to-r from-violet-500 to-blue-500 h-50  shadow-lg transform active:scale-75 transition-transform  border disabled:cursor-not-allowed disabled:opacity-50  ease-in-out duration-150 text-base  text-white font-medium tracking-wide border-transparent py-1.5 h-[38px] -mr-3">
        Search
      </button>
    </form>
    <div class=" flex items-center font-bold gap-3 absolute right-0 pr-4 justify-end text-white">
      <span class="cursor-pointer transform active:scale-75 transition-transform">Home</span>
      <span class="cursor-pointer transform active:scale-75 transition-transform" (click)="openDialog()">account</span>
      <span class="cursor-pointer transform active:scale-75 transition-transform"
            [routerLink]="['/modules/home/contact']">contact</span>
      <button mat-icon-button class="cursor-pointer transform active:scale-75 transition-transform"
              [routerLink]="['/modules/home/favorite']">
        <mat-icon color="warn">favorite</mat-icon>
      </button>
      <button mat-icon-button class="cursor-pointer transform active:scale-75 transition-transform">
        <mat-icon class="text-white">account_circle</mat-icon>
      </button>
    </div>
  </div>

  <!--&lt;!&ndash;        <app-carousel class=" w-full"></app-carousel>&ndash;&gt;-->
  <!--&lt;!&ndash;        <app-item class="w-[1000px] flex justify-center items-center mx-auto"></app-item>&ndash;&gt;-->

  <!--   </div>-->

  <!--    <div class="  font-bold flex-row flex items-center justify-between bg-gradient-to-l hover:bg-gradient-to-r h-50 from-pink-500 to-violet-500 hover:from-pink-700 hover:to-violet-700 ">-->
  <!--       <span></span>-->
  <!--        <div class="flex flex-col items-center text-white">-->
  <!--          <h2>Hello</h2>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--        </div>-->
  <!--        <div class="flex flex-col items-center text-white">-->
  <!--          <h2>Hello</h2>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--        </div>-->
  <!--        <div class="flex flex-col items-center text-white">-->
  <!--          <h2>Hello</h2>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--          <p>Hello</p>-->
  <!--        </div>-->
  <!--      <span></span>-->
</div>
<router-outlet></router-outlet>

