<footer class="footer p-10 bg-neutral text-neutral-content">
  <nav>
    <header class="footer-title">Product</header>
    <a class="link link-hover">Angular</a>
    <a class="link link-hover">Tailwind Design</a>
    <a class="link link-hover">Angular Material</a>
    <a class="link link-hover">Boostrap Angular</a>
  </nav>
  <nav>
    <header class="footer-title">Company</header>
    <a class="link link-hover" [routerLink]="['/modules/home/home']">Home</a>
    <a class="link link-hover" [routerLink]="['/modules/home/contact']">Contact</a>
    <a class="link link-hover" [routerLink]="['/modules/home/favorite']">Favorite</a>
    <a class="link link-hover" [routerLink]="['/modules/home/cart']">View Cart</a>
  </nav>
  <nav>
    <header class="footer-title ">Contact</header>
    <a class="link link-hover"><p class=" flex items-center "><mat-icon class="text-lg">location_on</mat-icon>Phnom Penh, CAMBODIA</p></a>
    <a class="link link-hover"><p class=" flex items-center"><mat-icon class="text-lg">call</mat-icon>Mobile: 0123456789</p></a>
    <a class="link link-hover"><p class="   flex items-center"><mat-icon class="text-lg">mail</mat-icon>Mail: contact@apleestore.com</p></a>
  </nav>
</footer>
