<div class="p-2">
  <div class="w-full  flex justify-end">
    <button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="h-full flex items-center justify-center p-2  ">
    <div class="items-center justify-center flex flex-row  bg-white w-full p-2 ">
      <div class=" flex flex-row space-x-20">

          <div class="flex items-center justify-center">
            <img [src]="Space.imD" class="w-80">
          </div>


        <div class="space-y-4">
          <div class="text-xl font-medium flex-col flex space-y-4">
            <p class="font-bold ">{{ Space.model }}</p>
            <p class="font-extralight ">{{ Space.price | currency }}</p>
            <p>Space :</p>
            <ng-container *ngFor="let prop of ['Display', 'Camera', 'Battery', 'Chip']; let i = index">
            <span class="flex items-center text-lg font-medium gap-3">
              <span class="ml-7 "></span><mat-icon class="text-2xl  w-auto h-auto icon-style">{{ icons[i] }}</mat-icon>
                : {{ Space[prop.toLowerCase()] }}
            </span>
            </ng-container>
          </div>
          <form [formGroup]="form" class="space-x-3">
            <mat-form-field class="w-40" appearance="outline">
              <mat-label>Storage</mat-label>
              <mat-select formControlName="memory">
                <mat-option *ngFor="let memory of Space.memory; let index = index" [value]="index">
                  {{ memory }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="w-40" appearance="outline">
              <mat-label>Color</mat-label>
              <mat-select formControlName="color">
                <mat-option  *ngFor="let color of Space.colors; let index = index" [value]="index">
                  {{ color }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </form>

          <div class="flex flex-col space-y-6">
            <div class="flex flex-row items-center gap-7">
              <button class="btn btn-neutral text-white" (click)="onAddToCart(Space.id)" >ADD TO CART</button>
              <button mat-icon-button (click)="toggleSelected()">
                <mat-icon *ngIf="selected" aria-label="Example icon-button with a heart icon" color="warn">favorite
                </mat-icon>
                <mat-icon *ngIf="!selected" aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
              </button>
            </div>
            <div class="flex flex-col space-y-4">
              <button class="btn btn-error text-white" (click)="onSubmit()">CHECKOUT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

