<div class="flex flex-col items-center space-y-20">
  <div>
    <p class="text-7xl font-bold">Contact Us</p>
  </div>
  <div class="flex flex-col space-y-4 w-72">
    <button class="btn btn-success text-white"><mat-icon>call</mat-icon>0123456789</button>
    <button class="btn btn-primary text-white">
      <div class="flex items-center gap-2">
        <img class="w-9 bg-white rounded-lg" src="https://cdn-icons-png.flaticon.com/256/124/124010.png" alt="facebook">
          <span>Facebook</span>
      </div>
    </button>
    <button class="btn btn-accent text-white">
      <div class="flex items-center gap-2">
        <img class="w-9 bg-white rounded-lg" src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/335_Telegram_logo-512.png" alt="telegram">
          <span>Telegram</span>
      </div>
      </button>
    <button class="btn btn-outline btn-info  "><mat-icon>location_on</mat-icon>Location</button>
  </div>
</div>



