<div class="space-y-4 bg-gray-200">
  <div class=" w-full flex justify-center p-2">
    <form
      class="mt-auto mx-auto max-w-xl py-2 px-6 rounded-full bg-white w-full border flex focus-within:border-gray-300">
      <input type="text" placeholder="Search anything"
             class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
             name="topic">
      <button
        class="flex flex-row items-center justify-center min-w-[130px] px-4 rounded-full focus:ring-4 hover:bg-blue-900 shadow-lg transform active:scale-75 transition-transform  border disabled:cursor-not-allowed disabled:opacity-50  ease-in-out duration-150 text-base bg-blue-700 text-white font-medium tracking-wide border-transparent py-1.5 h-[38px] -mr-3">
        Search
      </button>
    </form>
  </div>

  <app-carousel class=" w-full h-[500px]"></app-carousel>
  <app-item class=" top-1/2 w-full flex items-center p-2"></app-item>
</div>


