<mat-drawer-container class="max-h-screen h-full ">
  <mat-drawer #drawer mode="over" opened="false" class="w-80 " position="end">
    <app-nav></app-nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="h-full w-full flex flex-col">
      <div
        class="bg-white w-full flex justify-center items-center p-2  hover:bg-gradient-to-l shadow-black shadow-lg">
        <form
          class="mx-auto max-w-xl py-2 px-6 rounded-full bg-white w-full border flex focus-within:border-gray-300">
          <input type="text" placeholder="Search anything"
                 class="bg-transparent w-full focus:outline-none pr-4 font-semibold border-0 focus:ring-0 px-0 py-0"
                 name="topic">
          <button
            class="flex flex-row items-center justify-center min-w-[130px] px-4 rounded-full focus:ring-4 bg-black h-50  shadow-lg transform active:scale-75 transition-transform  border disabled:cursor-not-allowed disabled:opacity-50  ease-in-out duration-150 text-base  text-white font-medium tracking-wide border-transparent py-1.5 h-[38px] -mr-3">
            Search
          </button>
        </form>
        <div class="flex items-center font-bold gap-3 absolute right-0 pr-4  ">
        <span class="cursor-pointer transform active:scale-75 transition-transform"
              [routerLink]="['/modules/home/home']">Home</span>
          <span class="cursor-pointer transform active:scale-75 transition-transform"
                (click)="openDialog()">account</span>
          <span class="cursor-pointer transform active:scale-75 transition-transform"
                [routerLink]="['/modules/home/contact']">contact</span>
          <button mat-icon-button class="cursor-pointer transform active:scale-75 transition-transform"
                  [routerLink]="['/modules/home/favorite']">
            <mat-icon color="warn">favorite</mat-icon>
          </button>
          <button mat-icon-button class="cursor-pointer transform active:scale-75 transition-transform"
                  (click)="drawer.toggle()">
            <mat-icon class="text-gray-600">shopping_cart</mat-icon>
          </button>
        </div>
      </div>
      <div class="flex-grow overflow-auto ">
          <router-outlet></router-outlet>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>


