<div class="flex flex-col p-4  ">
  <p class="font-bold text-2xl ">Sign up to your account</p>

  <div class="flex flex-col">

    <p class="font-bold">Name</p>
    <mat-form-field appearance="outline" >
      <input matInput placeholder="name" >
    </mat-form-field>

    <p class="font-bold">Phone number</p>
    <mat-form-field appearance="outline" >
      <input matInput placeholder="Phone number" type="number">
    </mat-form-field>

    <p class="font-bold">Email</p>
    <mat-form-field appearance="outline" >
      <input matInput placeholder="Email">
    </mat-form-field>

    <p class="font-bold">Password</p>
    <mat-form-field appearance="outline" >
      <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <p class="font-bold">Confirm Password</p>
    <mat-form-field appearance="outline" >
      <input matInput [type]="Chide ? 'password' : 'text'" type="password" placeholder="Confirm password">
      <button mat-icon-button matSuffix (click)="Chide = !Chide" >
        <mat-icon>{{Chide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="flex-col flex gap-3">
    <button  class="btn btn-primary text-white w-full"
             > Sign Up </button>

    <span>Already have an account ? <button class="text-blue-700" (click)="onClick()"> Sign In</button></span>
  </div>
</div>
