<div class="flex flex-col h-full w-full gap-2">
  <div >
    <div class="w-full flex flex-col items-center justify-center">
      <p class="text-5xl pl-5">iPhone Product</p>
      <p class="text-gray-500">apple</p>
    </div>
    <div class="pt-2 grid grid-cols-5 gap-3 ">
      <mat-card *ngFor="let allItem of product" class=" transform transition duration-500 hover:scale-105 shadow-black shadow-sm">
        <div class="w-100 h-100 rounded-lg overflow-hidden relative flex items-center justify-center">
          <img mat-card-image [src]="allItem.image" class="w-full h-auto transform ease-in-out duration-300 hover:scale-110" alt="phone">
          <div class="flex items-center absolute top-0 right-0">
            <button mat-icon-button (click)="toggleSelected(allItem.id )">
              <mat-icon *ngIf="allItem.isFavorite" aria-label="Unfavorite" color="warn">favorite</mat-icon>
              <mat-icon *ngIf="!allItem.isFavorite" aria-label="Favorite">favorite_border</mat-icon>
            </button>
          </div>
        </div>
        <mat-card-content>
          <div class="flex p-2 flex-col space-y-2">
            <p class="font-bold">{{ allItem.model }}</p>
            <span>
              <span>{{ allItem.price | currency}}</span>
            </span>
            <div class="flex justify-center ">
              <button class="btn btn-primary text-white" (click)="openDialog(allItem.id)">Buy now</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
</div>
